.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: var(--font-color-secondary);
}

.text {
  font-size: 0.8rem;
  color: var(--bg-primary);
  margin: 0;
  font-family: var(--font-secondary);
  font-weight: 300;
}
