.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: var(--bg-secondary);
  bottom: 0;
}

.text {
  font-size: 0.8rem;
  color: var(--font-color-primary);
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
