.container {
  height: 4rem;
  background-color: var(--bg-secondary);
  width: 100%;
  line-height: 4rem;
  display: flex;
  flex-direction: row;
}
.heading {
  font-family: 'Bebas Neue', cursive;
  line-height: 4rem;
  font-size: 2rem;
  margin: 0;
}
.broccoliContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
}
