:root {
  --font-color-primary: #272622;
  --font-color-secondary: #54945F;
  --bg-primary: #F5F4EF;
  --bg-secondary: #FFFFFE;
  --font-primary: 'Bebas Neue', cursive;
  --font-secondary: 'Roboto', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-primary);
  height: 100%;
}

* {
  box-sizing: border-box;
}
