.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: red;
  bottom: 0;
}

.text {
  margin: 0;
}
